*{
  font-family: American Typewriter, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

h1{
  margin-left: 20px;
  color: red;
  font-family: American Typewriter, serif;
}

h2{
  margin: 10px;
  margin-top: 100px;
  text-transform: uppercase;
}

h3{
  margin-left: 150px;
}

 #mainpage{
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
  background-color: red;
  border-radius: 5px;
 }

#reviewDetails{
  display: grid;
  grid-template-columns: 8fr 2fr;
}

 #categories {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  display: grid;
 }



#review{
  border-style: solid;
  border-color: black;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

#catTitle{
  font-size: 25px;
  text-decoration: underline;
  font-variant: small-caps;
}

#reviewTitle{
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;

}

#reviewCategory{
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;
}

#selectCatButton{
float: right;
width: 50px
}

#reviewpage{
  border-style: solid;
  border-color: black;
  margin: 10px;
  background-color: red;
  border-radius: 5px;
}

.reviewCard{
  border-style: solid;
  border-color: black;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

#singleReviewCard{
  border-style: solid;
  border-color: black;
  margin: 10px;
  padding: 10px;
}

#reviews{
  padding: 5px;
  background-color: white;
  margin: 5px;
 }

 #reviewImg{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  float: right;
  margin-top: -80px
 }

 #reviewButton{
  height: 50px;
  width: 200px;
  float: right;
  margin-top: -50px;
 }

 #Title{
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
 }

 #cardCat{
  color: rgba(0, 0, 0, 0.528);
}

.singleCommentCard{
    border-style: solid;
    border-color: red;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#commentPage{
  border-style: solid;
  border-color: red;
  background-color: black;
  margin: 10px;
  margin-left: 150px;
}

#signin{
  font-size: 20px;
  margin-top: -65px;
  border-color: white;
  text-transform:uppercase;
  border-width: 5px;
  background-color: black;
  color: red;
  margin-right: 10px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  float: right;
}

#increaseVote{
  margin: 10px;
  background-color: green;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}

#decreaseVote{
  margin: 10px;
  background-color: red;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}

#spinner{
  margin-top: 200px;
  margin-left: 50px;
  color: black;
}