*{
  font-family: American Typewriter, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

h1{
  margin-left: 20px;
  font-family: American Typewriter, serif;
}

 #mainpage{
  padding: 10px;
  margin: 10px;
  margin-top: 120px;
  border-style: solid;
  border-color: black;
  
 }

 #categories {
  border-style: solid;
  border-color: black;
  margin: 10px;
  padding: 5px;
  display: grid;
 }

 #reviews{
  margin: 10px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
 }

#review{
  border-style: solid;
  border-color: black;
  margin: 10px;
  padding: 5px;
}

#catTitle{
  font-size: 25px;
  text-decoration: underline;
  font-variant: small-caps;
}

#reviewTitle{
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;

}

#reviewCategory{
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;
}

#selectCatButton{
float: right;
width: 50px
}

#reviewpage{
  border-style: solid;
  border-color: black;
  margin: 10px;
  margin-top: 100px
}

#reviewCard{
  border-style: solid;
  border-color: black;
  margin: 10px;
}